@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* * {
    border: 1px solid red;
} */

:root {
    --blackpure: #000;
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5C62EC;

    --text-color: var(--black);

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);

    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);

    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
     /* Dark mode */
    --page-bg: #252526;
    --text-color: var(--white);

    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;

    /* Light mode */
    background-color: var(--page-bg);
    color: var(--text-color);
}

/* General */

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.none {
    display: none !important;
}

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

/* Nav */

.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: var(--header-text);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* Dark mode btn */

.dark-mode-btn {
    order: 9;

    position: relative;
    display: flex;
    justify-content: space-between;

    width: 51px;
    height: 26px;
    padding: 5px;

    border-radius: 50px;
    background-color: #272727;
}

.dark-mode-btn::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: var(--white);

    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}

/* Header */

.header {
    padding: 40px 0;
    min-height: 695px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-bg);
    background-image: url('./../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.header__text p + p{
    margin-top: 0.5em;
}

/* Btn */

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Btn outline */

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;

    border-radius: 5px;
    border: 1px solid var(--blackpure);
    background-color: var(--white);
    color: var(--blackpure);

    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

/* Projects  */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project__img {
    border-radius: 10px;
}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
}

/* Project details */

.project-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-details__desc {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

/* Content list */

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

.content-list a {
    color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + p {
    margin-top: 0.5em;
}

/* Footer */

.footer {
    margin-top: auto;
    padding: 60px 0 50px;
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

@media (max-width: 620px) {

    /* Header  */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    /* Nav */

    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    /* General */

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    /* Projects */

    .project__title {
        font-size: 22px;
    }

    /* Project page */

    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }

    /* Content List */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

}
